apiVersion: v1
kind: Service
metadata:
  name: app2
  labels:
    app: app2
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: app2